<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Credentials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settingstyle.css') }}">
</head>
<body>
    <h2>Update Email and Password</h2>

    <form method="POST">
        <label for="email">New Email:</label>
        <input type="email" name="email" value="{{ current_user.email }}"><br>

        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password" required><br>

        <label for="new_password">New Password:</label>
        <input type="password" name="new_password"><br>

        <button type="submit">Update</button>
        <br><a href="{{ url_for('profile') }}">Back to profile</a>
    </form>
</body>
</html>
